body {
  text-indent: 50px;

}

header {
  background-image: url("images/header.png");
  height: 400px;
  color: white;
}

h2 {
  margin-top: 100px;
  text-align: center;
}

button {
  background-color: yellow;
  font-weight: bold;
  font-size: 20px;
  margin-left: 450px;
}

h3 {
  text-indent: 50px;
  margin-top: 100px;
  font-size: 30px;
  color: #0000FF;
}
